{% extends 'base.html' %}
{% from 'bootstrap/table.html' import render_table %}

{% block content %}
    <h1>Security camera <i class="fas fa-video"></i></h1>
    <a id="auto_refresh_state_link" class="btn btn-secondary" style="float: right;" href="#">Auto refresh 
        <span id="auto_refresh_state_btn" class="badge badge-info"></span>
    </a>
    <p>Last 30 messages received:</p>
    <table class="table" style="width:100%;text-align:center;border: solid black">
        <thead style="text-decoration:underline">
            <tr>
                <th>Create Time</th>
                <th>IP</th>
<!--                <th>Device ID</th> -->
                <th>Angle (°)</th>
                <th>Distance (m)</th>
                <th>Image</th>
            <tr>
        </thead>
        <tbody>
            {% for key in range(messages_len, 0, -1) %}
            <!-- list in reverse the buffer of messages -->
            <tr>
                <td><i class="far fa-clock"></i> {{ messages[key-1].create_time }}</td>
                <td>{{ messages[key-1].ip }}</td>
                <!-- <td><i class="fas fa-fingerprint"></i> {{ messages[key-1].id }}</td> -->
                <td>{{ messages[key-1].angle }}</td>
                <td>{{ messages[key-1].distance }}</td>
                <td><img src="{{ messages[key-1].image }}" style="max-width:150px"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}